.contenedorFormCreateAccount {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  min-height: 120vh;
}

/* Asegura que el body y html ocupen toda la altura de la ventana */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}




