<div class="contenedorPrincipal">
  <form>
    <div class="contenedorImagen">
      <img class="imagenLogo" src="../../../../../../assets/carrito.png" alt="logo">
    </div>

    <div class="contenedorLogin">

      <div class="contenedorInputs">

      <mat-form-field class="inputStyles">
        <input matInput type="text" id="name" name="name" placeholder="Nombre" [(ngModel)]="client.name" />
      </mat-form-field>

      <mat-form-field class="inputStyles">
        <input matInput type="text" id="lastname" name="lastname" placeholder="Apellidos" [(ngModel)]="client.lastname" />
      </mat-form-field>

      <mat-form-field class="inputStyles">
        <input matInput type="text" id="adress" name="address" placeholder="Direccion" [(ngModel)]="client.address" />
      </mat-form-field>

      <mat-form-field class="inputStyles">
        <input matInput type="email" id="email" name="email" placeholder="Correo" [(ngModel)]="client.email" />
      </mat-form-field>

      <mat-form-field class="inputStyles">
        <input matInput type="password" id="password" name="password" placeholder="Contraseña" [(ngModel)]="client.password" />
      </mat-form-field>

      <mat-form-field class="inputStyles">
        <input class="inputStyles" matInput type="password" id="passwordVerification" name="passwordVerification" placeholder="Repetir contraseña" [(ngModel)]="client.passwordVerification" />
      </mat-form-field>

    </div>

      <div class="divBotones">

      <button type="submit" class="boton btn inputStyles" (click)="createAccount()">Registrarse</button>

      <button  class="boton btn inputStyles" (click)="regresar()">Regresar</button>

    </div>


    </div>
  </form>
</div>
