<div class="pay-list-container">
  <h2>Resumen de tu Carrito</h2>
  <ul class="cart-list">
    <li *ngFor="let item of cart" class="cart-item">
      <div class="item-details">
        <img *ngIf="item.item.image" [src]="'data:image/jpeg;base64,' + item.item.image" alt="{{ item.item.description }}" class="item-image">
        <div class="item-info">
          <p><strong>Código:</strong> {{ item.item.code }}</p>
          <p><strong>Descripción:</strong> {{ item.item.description }}</p>
          <p>
            <strong>Cantidad:</strong>
            <input class="quantity-input" type="number" [value]="item.quantity" (change)="updateQuantity(item, $event)">
          </p>
          <p><strong>Costo Total:</strong> {{ item.item.price * item.quantity | currency }}</p>
        </div>
        <button class="remove-button" (click)="removeItem(item)">Eliminar</button>
      </div>
    </li>
  </ul>
  <div class="total-container">
    <p><strong>Total a Pagar:</strong> {{ getTotal() | currency }}</p>
    <!-- btn pagar -->
    <button mat-raised-button color="primary" (click)="pay()">Pagar</button>
  </div>
</div>
